<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- Location tracking is disabled for this flavor -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" tools:node="remove" />

    <application
        tools:replace="android:usesCleartextTraffic,android:allowBackup"
        android:usesCleartextTraffic="false"
        android:allowBackup="false">
    </application>
</manifest>
